{% extends 'base_auth.html' %} {% load static %} {% load widget_tweaks %} {% block content %}



<section class="masthead">
    <div class="container px-4 px-lg-5 h-100" background-image: url("img/bg-masthead.jpg")>

<div class="row m-4 p-4">
    <div class="col-md-5 mb-5">
        <div>
            <h1 class="display-4 fw-bold lh-1 m-5 text-light text-center">
                Authentification
            </h1>
            <hr class="divider divider-warning" />
            <br />
            <i class="fa-regular fa-circle-right text-light fa-4x" style="opacity: 0.4;"></i>
            <br>
            <br>
            <p class="text-light">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Suscipit illum, voluptatem doloremque hic nisi ipsum eum, fuga
                possimus perspiciatis expedita, corrupti beatae delectus vero
                sit molestias nostrum aliquid quae magnam? Lorem ipsum dolor
                sit,
            </p>

            <br />
        </div>
    </div>
    <div class="col-md-7 mt-5 pt-5">
        <div class="d-flex justify-content-center">
            <div class="col-md-6">
                <form
                    class="p-4 p-md-5 border rounded-4  bg-white shadow-light shadow-lg bg-ligth opacity-75"
                    method="POST"
                >
                    {%csrf_token%}
                    <div class="floatingInput mb-3">
                        <label for="floatingInput" class="form-label"
                            >Email address</label
                        >
                        <input
                            type="email"
                            name="username"
                            class="form-control"
                            id="floatingInput"
                        />
                        <!-- {% render_field form.username class="form-control" %} -->
                    </div>
                    <div class="floatingInput mb-3">
                        <label for="floatingInput" class="form-label"
                            >Enter Password</label
                        >
                        <input
                            type="password"
                            name="password"
                            class="form-control"
                            id="floatingInput"
                        />
                        <!-- {% render_field form.password class="form-control" %} -->
                    </div>
                    <button type="submit" class="btn btn-outline-primary">
                        Log in
                    </button>
                    <hr />
                    <small
                        >Do you have an account?
                        <a href="{% url 'register_user'%}"> Sign up</a></small
                    >
                </form>
            </div>
        </div>
    </div>
</div>
    </div>
</section>

{% endblock content %}
<!-- Footer-->
