{% extends 'base_auth.html' %} {% load static %} {% load widget_tweaks %} {% block content %}
<section class="masthead">
    <div class="container px-4 px-lg-5 h-100" background-image: url("img/bg-masthead.jpg")>

<div class="row m-4 p-4">
    <div class="col-md-5">
        <div>
            <h1 class="display-3 fw-bold lh-1 m-5 text-light text-center">
                Registration
            </h1>
            <hr class="divider divider-warning" />
            <br />
            <i class="fa-regular fa-circle-right text-light fa-4x" style="opacity: 0.4;"></i>
            <br>
            <br>
            <p class="text-light">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Suscipit illum, voluptatem doloremque hic nisi ipsum eum, fuga
                possimus perspiciatis expedita, corrupti beatae delectus vero
                sit molestias nostrum aliquid quae magnam? Lorem ipsum dolor
                sit, amet consectetur adipisicing elit
            </p>
            <br />
        </div>
    </div>
    <div class="col-md-7">
        <div class="d-flex justify-content-center">
            <div class="col-md-8">
                <form
                    class="p-5 p-md-5 border rounded-4 bg-white shadow-light shadow-lg bg-ligth opacity-75"
                    method="POST"             
                    >
                    {%csrf_token%}
                    <div class="mb-3">
                        <label for="floatingInput" class="form-label"
                            >Firstname</label
                        >
                        {% render_field form.first_name class="form-control" %}
                        <!-- TWEAKS for styling
                input type="email" name="username" class="form-control" id="floatingInput"
                /> -->
                    </div>
                    <div class="mb-3">
                        <label for="floatingInput" class="form-label"
                            >Lastname</label
                        >
                        {% render_field form.last_name class="form-control" %}
                        <!-- TWEAKS for styling
                input type="email" name="username" class="form-control" id="floatingInput"
                /> -->
                    </div>
                    <div class="mb-3">
                        <label for="floatingInput" class="form-label"
                            >Email address</label
                        >
                        {% render_field form.email class="form-control" %}
                        <!-- TWEAKS for styling
                input type="email" name="username" class="form-control" id="floatingInput"
                /> -->
                    </div>

                    <div class="mb-3">
                        <label for="floatingInput" class="form-label"
                            >Enter Password</label
                        >
                        {% render_field form.password1 class="form-control" %}
                    </div>
                    <div class="mb-3">
                        <label for="floatingInput" class="form-label"
                            >Confirm Password</label
                        >
                        {% render_field form.password2 class="form-control" %}
                    </div>
                    <button type="submit" class="btn b btn-outline-primary">
                        Sign up
                    </button>
                    <hr />
                    <small class="text-muted"
                        >Already have an account? &nbsp;
                        <a href=""> Log In</a></small
                    >
                </form>
            </div>
        </div>
    </div>
</div>
    </div>
</section>


</section> -->
{% endblock content %}
<!-- Footer-->
