{%extends 'base.html'%} {%load static%} {%block content%}
<div class="container pb-5">
    <div style="background-color: rgb(212, 191, 191)" class="p-5 rounded-4 row class="col-12 col-md-6 text-center"">
        <div class="col-12 col-md-6 text-center">
            <h2 class="display-2 fw-bold home-title text-white py-5">
            E N T R E Z <br /><br />
            R E V E Z <br /><br />
            R E S S E N T E Z <br /><br />
            </h2>
        </div>
        <div class="col-12 col-md-6 text-center rounded-4 row align-items-center justify-content-center">
            <img
                src="{% static 'img/image.png' %}"
                alt="Photo"
                class="w-50"
            />
        </div>
    </div>
    <div>
        <p class="text-white-75 m-5">
            "Neque porro quisquam est qui dolorem ipsum quia dolor sit
            amet, consectetur, adipisci velit... There is no one who
            loves pain itself, who seeks after it and wants to have it,
            simply because it "Neque porro quisquam est qui dolorem
            ipsum quia dolor sit amet, consectetur, adipisci velit...
            There is no one who loves pain itself, who seeks after it
            and wants to have it, simply because it is pain..."
        </p>
    </div>
    <div class="d-flex justify-content-center">
        <a class="btn btn-outline-secondary text-center rounded-3" href="{% url 'list_offer_film' %}"
        >Démarrer</a>
    </div>
    </div>
    </div>
    {%endblock content%}

    <!-- Footer-->
</div>
