{%extends 'base.html'%} {%load static%} {%load widget_tweaks%}
<div></div>
{% block heading%}
<div class="jumbotron">
    <h1 class="display-3 fw-bold lh-1 mb-3 text-secondary">Liste des films</h1>
    <p class="lead">
        This is a simple hero unit, a simple jumbotron-style component for
        calling extra attention to featured content or information.his is a
        simple hero unit, a simple jumbotron-style component for calling extra
        attention to featured content or information
    </p>
    <hr class="my-4" />
</div>
{% endblock heading%} {%block content%}

<section class="h-100 container-fluid mx-3">
    <div class="d-flex flex-wrap justify-content-start align-items-start gap-2">
        {% for film, seances in films %}
        <div class="row mb-5">
            <h3 class="display-5 lh-1 mb-3 text-secondary archivo opacity-50">
                {{film}}
            </h3>
            <div class="row rounded-4 border bg-white shadow-lg bg-dark p-4">
                <div class="col-md-12 col-lg-3 text-center mb-3">
                    <img
                        src="{{ film.affiche.url}}"
                        alt="{{ film.affiche }}"
                        style="width: 80%"
                        class="rounded-3 border rounded-4 bg-white shadow shadow-lg bg-dark"
                    />
                </div>
                <div class="col-md-12 col-lg-3">
                    <p>
                        <b>Description:</b><br />
                        <span class="text-muted"> {{film.description}}</span
                        ><br />
                    </p>
                    <p>
                        <b>Prix d'entrée:</b><br />
                        <span class="text-muted"> {{prix}}</span>€<br />
                    </p>
                </div>
                <div class="col-md-12 col-lg-3">
                    <p>
                        <b>Réalisateur:</b><br />
                        <span class="text-muted"> {{film.realisateur}}</span
                        ><br />
                    </p>
                    <p>
                        <b>Genre:</b><br />
                        <span class="text-muted"> {{film.genre}}</span><br />
                    </p>
                    <p>
                        <b>Durée:</b><br />
                        <span class="text-muted"> {{film.duree}}</span><br />
                    </p>
                    <p>
                        <b>Date de sortie:</b><br />
                        <span class="text-muted"> {{film.date_sortie}}</span
                        ><br />
                    </p>
                </div>
                <div
                    class="col-md-12 col-lg-3 border bg-white shadow bg-dark rounded-2 py-3"
                >
                    <h6><b>Date disponibles:</b></h6>
                    {% for seance in seances %}
                    <p>
                        {{seance.date|date:"d/m/Y"}} à {{seance.horaire}} <br />
                        <span class="text-petit text-muted text-petit">
                            Il reste {{seance.place_dispo}} places
                        </span>
                    </p>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{%endblock content%}
