{%extends 'base.html'%} {%load static%} {%load widget_tweaks%}{%block content%}
<section class="container-fluid p-3 my-5 h-100" id="services">
    <h1 class="display-2 fw-bold lh-1 mb-3 text-light">Séance d'événement</h1>
    <br />

    <div class="d-flex flex-wrap justify-content-start align-items-start gap-2">
        {% for seance in seances %}
        <div style="width: 17%" class="p-1 mx-1">
            <small
                ><img
                    src="/media/{{ seance.evenement.affiche }}"
                    alt="{{ evenement.affiche }}"
                    style="width: 100%"
                    class="rounded-3 border rounded-4 bg-white shadow shadow-lg bg-dark"
            /></small>
        </div>
        {% endfor %}
    </div>
</section>
{%endblock content%}
