{%extends 'base.html'%} {%load static%} {%load widget_tweaks%}
<div></div>
{% block heading%}
<div class="jumbotron">
    <h1 class="display-3 fw-bold lh-1 mb-3 text-secondary">Panier</h1>
    <p class="lead">
        This is a simple hero unit, a simple jumbotron-style component for
        calling extra attention to featured content or information.his is a
        simple hero unit, a simple jumbotron-style component for calling extra
        attention to featured content or information
    </p>
    <hr class="my-4" />
</div>
{% endblock heading%} {%block content%}

<section class="h-100 container-fluid mx-3">
    <div class="d-flex flex-wrap justify-content-start align-items-start gap-2">
        <div class="row mb-5">
            <h3 class="display-5 lh-1 mb-3 text-secondary archivo opacity-50">
            
    </div>
</section>
{%endblock content%}
