{% extends 'base.html'%} {% block content%}

<div class="container">
    <h1 class="display-3 fw-bold mb-3 text-secondary">Liste des salles</h1>
    <br />
    <p>
        Lorem ipsum odor amet, consectetuer adipiscing elit. Ad elit dolor eu
        interdum etiam maecenas quam. Lorem ipsum odor amet, consectetuer
        adipiscing elit. Ad elit dolor eu interdum etiam maecenas quam.
        <br />
    </p>
    <a href="{% url 'create_salle' %}" style="text-decoration: none">
        <i class="fa-solid fa-circle-arrow-right text-info"></i>
        <span class="text-info"> Créer salle </span>
    </a>
    <br /><br />
    <div>
        <div class="card shadow-lg p-2 mb-5">
            <div class="card-body p-5">
                <table class="table">
                    <thead>
                        <tr class="text-center text-secondary">
                            <th scope="col">id</th>
                            <th scope="col">N° salle</th>
                            <th scope="col">Capacité</th>
                            <th scope="col">Disponibilité</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    {% for salle in salles %}
                    <tbody>
                        <tr>
                            <td class="text-center">
                                <small>
                                    <p class="text-muted">{{salle.id}}</p>
                                </small>
                            </td>
                            <td class="text-center">
                                <small>
                                    <p class="text-muted">{{salle.numero}}</p>
                                </small>
                            </td>
                            <td class="text-center">
                                <small>
                                    <p class="text-muted">{{salle.capacite}}</p>
                                </small>
                            </td>
                            <td class="text-center">
                                <small>
                                    <p class="text-muted">
                                        {{salle.disponible}}
                                    </p>
                                </small>
                            </td>

                            <td class="text-center">
                                <a href="{% url 'update_salle' salle.id %}">
                                    <i
                                        class="fa-solid fa-pen-to-square fa-xs"
                                    ></i>
                                </a>
                                <a href="{% url 'delete_salle' salle.id %}">
                                    <i
                                        class="fa-solid fa-trash fa-xs text-danger"
                                    ></i>
                                </a>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {%endblock content%}
</div>
