{%extends 'base.html'%} {%load static%} {%block content%}
<div class="col-lg-8 align-self-end">
    <h1 class="text-white font-weight-bold opacity-50">
        <span class="display-5">
            E N T R E Z <br />R E V E Z <br />
            R E S S E N T E Z
        </span>
        <br />
    </h1>
    <hr class="divider" />
</div>
<div class="col-lg-8 align-self-baseline">
    <p class="text-white-75 mb-5">
        "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet,
        consectetur, adipisci velit..." "There is no one who loves pain itself,
        who seeks after it and wants to have it, simply because it is pain..."
    </p>
    <a class="btn btn-primary btn-xl" href="">Démarrer</a>
</div>

{%endblock content%}

<!-- Footer-->
