{% extends 'base.html'%} {% block content %}
<div class="container">
    <div class="border p-4 bg-light shadow-lg m-5 bg-white rounded">
        <div class="row">
            <div class="col-lg-7">
                <div class="px-5">
                    <h3 class="display-4 fw-bold lh-1 mb-3 text-secondary">
                        {{ evenement.titre}}
                    </h3>
                    <br />
                    <td class="text-center">
                        <small>
                            <img
                                src="/media/{{ evenement.affiche }}"
                                alt="{{ evenement.affiche }}"
                                style="width: 40%"
                            />
                        </small>
                    </td>

                    <br />
                    <br />
                    <p>{{evenement.description }}</p>
                </div>
            </div>
            <div class="col-lg-4 border shadow-lg p-4 mb-5 bg-white rounded">
                <h4 class="display-6 lh-1 mb-3 text-secondary">Quick Info</h4>
                <p>
                    <small>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Nulla recusandae atque, minima consequuntur,
                    </small>
                </p>

                <div class="pt-3">
                    <br />
                    <small> <b>Genre</b>: {{evenement.genre}} </small>
                    <br />
                    <br />
                </div>
                <br />
                <a
                    href="{% url 'list_evenement'%}"
                    style="text-decoration: none"
                >
                    <button
                        type="button"
                        class="btn btn btn-outline-success rounded-4"
                    >
                        Retour
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock content%}
