{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light px-5">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img
                src=" {% static 'img/image.png' %}"
                alt="..."
                style="width: 50px; height: auto"
            />
        </a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'list_offer_film' %}"
                        >Film</a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'list_offer_evenement' %}"
                        >Evenement</a
                    >
                </li>
                <li class="nav-item"></li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <i class="fa-solid fa-circle-user"></i> &nbsp;
                    <span class="text-petit text-muted"> Username </span>
                </li>
                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        id="navbarDropdownMenuLink"
                        data-bs-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                    >
                        <b>Dashboard</b>
                    </a>
                    <div
                        class="dropdown-menu"
                        aria-labelledby="navbarDropdownMenuLink"
                    >
                        <a class="dropdown-item" href="{% url 'list_cinema' %}"
                            >Cinema</a
                        >
                        <a class="dropdown-item" href="{% url 'list_salle' %}"
                            >Salle</a
                        >
                        <a class="dropdown-item" href="{% url 'list_film' %}"
                            >Film</a
                        >
                        <a
                            class="dropdown-item"
                            href="{% url 'list_evenement' %}"
                            >Evenement</a
                        >
                        <a class="dropdown-item" href="{% url 'list_seance' %}"
                            >Seance</a
                        >
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
