.text-petit{
    font-size: 12px;
}

.film-title{
    font-family: "Orbitron", sans-serif;
    font-size: 5vh;
}

.home-title{
    font-family: "Orbitron", sans-serif;
    font-size: 8vh;
}

.homepage {
    width: 40%;
    height: 400px;
    background-image: url("../img/logo1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.8;
}