{% extends 'base.html' %} {% block content %}
<div class="container py-4">
    <!-- Titre -->
    <div class="mb-4">
        <h1 class="display-3 fw-bold text-secondary">Liste des seances</h1>
        <p class="text-muted">
            Lorem ipsum odor amet, consectetuer adipiscing elit. Ad elit dolor
            eu interdum etiam maecenas quam. Lorem ipsum odor amet, consectetuer
            adipiscing elit.
        </p>
        <a href="{% url 'create_seance' %}" class="text-decoration-none">
            <i class="fa-solid fa-circle-arrow-right text-info"></i>
            <span class="text-info">Créer séance</span>
        </a>
    </div>
    <!-- Card -->
    <div class="card shadow-lg border-0 mb-5">
        <div class="card-body p-2 p-md-4 p-lg-5">
            <!-- Tableau responsive -->
            <div class="table-responsive">
                <table
                    class="table table-hover table-uniform align-middle mb-0"
                >
                    <thead>
                        <tr class="text-center text-secondary">
                            <th
                                scope="col"
                                class="hide-element-mobile hide-element-tablette"
                            >
                                ID
                            </th>
                            <th
                                scope="col"
                                class="hide-element-mobile hide-element-tablette"
                            >
                                Salle
                            </th>
                            <th scope="col" class="date-seance">Date</th>
                            <th scope="col" class="creneau-seance">Créneau</th>
                            <th scope="col" class="titre-seance">Titre</th>
                            <th
                                scope="col"
                                class="affiche-seance hide-element-mobile hide-element-tablette"
                            >
                                Affiche
                            </th>
                            <th
                                scope="col"
                                class="hide-element-mobile hide-element-tablette"
                            >
                                Programme
                            </th>
                            <th
                                scope="col"
                                class="hide-element-mobile hide-element-tablette"
                            >
                                Place_dispo
                            </th>
                            <th
                                scope="col"
                                class="hide-element-mobile hide-element-tablette"
                            >
                                Prix
                            </th>

                            <th scope="col" class="action-seance">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for seance in seances %}
                        <tr>
                            <!-- ID -->
                            <td
                                class="text-center hide-element-mobile hide-element-tablette"
                            >
                                <span class="text-muted">
                                    {{ seance.id }}
                                </span>
                            </td>
                            <!-- Salle -->
                            <td
                                class="text-center hide-element-mobile hide-element-tablette"
                            >
                                <span class="text-muted">
                                    {{ seance.salle }}
                                </span>
                            </td>
                            <!-- Date  -->
                            <td class="text-center">
                                <span class="text-muted">
                                    {{ seance.date| date:"d/m/Y" }}
                                </span>
                            </td>
                            <!-- Creneau -->
                            <td class="text-center">
                                <span class="text-muted">
                                    {{ seance.horaire }}
                                </span>
                            </td>
                            <!-- Titre -->
                            <td class="text-center film-title">
                                <span class="text-muted titre-film">
                                    {{ seance.film }}
                                </span>
                            </td>

                            <!-- Affiche -->
                            <td
                                class="text-center affiche-film hide-element-mobile hide-element-tablette"
                            >
                                {% if seance.film.affiche %}
                                <img
                                    src="{{ seance.film.affiche.url }}"
                                    alt="{{ seance.affiche }}"
                                    class="film-poster rounded shadow-sm"
                                />
                                {% else %}
                                <img
                                    src="{{ seance.evenement.affiche.url }}"
                                    alt="{{ seance.affiche }}"
                                    class="film-poster rounded shadow-sm"
                                />
                                {% endif %}
                            </td>
                            <!-- Programme -->
                            <td
                                class="text-center description-column hide-element-mobile hide-element-tablette"
                            >
                                <span class="text-muted">
                                    {{ seance.programme }}
                                </span>
                            </td>
                            <!-- Place dispo -->
                            <td
                                class="text-center description-column hide-element-mobile hide-element-tablette"
                            >
                                <span class="text-muted">
                                    {{ seance.place_dispo }}
                                </span>
                            </td>
                            <!-- Prix -->
                            <td
                                class="text-center description-column hide-element-mobile hide-element-tablette"
                            >
                                <span class="text-muted">
                                    {{ seance.prix }}
                                </span>
                            </td>

                            <!-- Actions -->
                            <td class="text-center action-film">
                                <div
                                    class="d-flex flex-wrap justify-content-center gap-1"
                                >
                                    <a
                                        href="{% url 'update_seance' seance.id %}"
                                    >
                                        <i
                                            class="fa-solid fa-pen-to-square fa-xs"
                                        ></i>
                                    </a>
                                    <a
                                        href="{% url 'delete_seance' seance.id %}"
                                    >
                                        <i
                                            class="fa-solid fa-trash fa-xs text-danger"
                                        ></i>
                                    </a>
                                    <a
                                        href="{% url 'detail_seance' seance.id %}"
                                    >
                                        <i
                                            class="fa-solid fa-eye fa-xs text-secondary"
                                        ></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="6" class="text-center text-muted py-4">
                                Aucun film disponible.
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
