{% extends 'seance/dashboard.html'%} {% block content%}

<div class="container my-2 py-1">
    <h1 class="display-3 fw-bold mb-3 text-secondary">Liste des seances</h1>
    <br />
    <a href="{% url 'create_seance' %}" style="text-decoration: none">
        <i class="fa-solid fa-circle-arrow-right text-info"></i>
        <span class="text-info"> Créer seance </span>
    </a>
    <br /><br />
    <div>
        <div class="card shadow-lg p-2 mb-5">
            <div class="card-body p-5">
                <table class="table">
                    <thead>
                        <tr class="text-center text-secondary">
                            <th scope="col">id</th>
                            <th scope="col">Salle</th>
                            <th scope="col">Date</th>
                            <th scope="col">Creneau</th>
                            <th scope="col">Titre</th>
                            <th scope="col">Programme</th>
                            <th scope="col">Place dispo</th>
                            <th scope="col">Prix</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for seance in seances %}
                        <tr>
                            <td class="text-center">
                                <small>
                                    <p class="text-muted">{{seance.id}}</p>
                                </small>
                            </td>
                            <td class="text-center">
                                <small>
                                    <p class="text-muted">{{seance.salle}}</p>
                                </small>
                            </td>
                            <td class="text-center">
                                <small>
                                    <p class="text-muted">{{seance.date}}</p>
                                </small>
                            </td>
                            <td class="text-center">
                                <small>
                                    <p class="text-muted">{{seance.horaire}}</p>
                                </small>
                            </td>
                            {% if seance.film %}
                            <td class="text-center">
                                <small>
                                    <p class="text-muted">{{seance.film}}</p>
                                </small>
                            </td>
                            <td class="text-center">
                                <small>
                                    <p class="text-muted">Film</p>
                                </small>
                            </td>
                            {% else %}
                            <td class="text-center">
                                <small>
                                    <p class="text-muted">
                                        {{seance.evenement}}
                                    </p>
                                </small>
                            </td>
                            <td class="text-center">
                                <small>
                                    <p class="text-muted">Evenement</p>
                                </small>
                            </td>
                            {% endif %}
                            <td class="text-center">
                                <small>
                                    <p class="text-muted">
                                        {{seance.place_dispo}}
                                    </p>
                                </small>
                            </td>
                            <td class="text-center">
                                <small>
                                    <p class="text-muted">{{seance.prix}}</p>
                                </small>
                            </td>

                            <td class="text-center">
                                <a
                                    href="{% url 'update_seance' seance.id %}"
                                    style="text-decoration: none"
                                >
                                    <button
                                        type="button"
                                        class="btn btn-sm btn-outline-primary rounded-4"
                                    >
                                        Modifier
                                    </button>
                                </a>
                                <a
                                    href="{% url 'delete_seance' seance.id %}"
                                    style="text-decoration: none"
                                >
                                    <button
                                        type="button"
                                        class="btn btn-sm btn-outline-danger rounded-4"
                                    >
                                        Effacer
                                    </button>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{%endblock content%}
