{% extends 'base.html'%} {% block content%}

<div class="container">
    <h1 class="display-3 fw-bold mb-3 text-secondary">Liste des Cinemas</h1>
    <br />
    <p>
        Lorem ipsum odor amet, consectetuer adipiscing elit. Ad elit dolor eu
        interdum etiam maecenas quam. Lorem ipsum odor amet, consectetuer
        adipiscing elit. Ad elit dolor eu interdum etiam maecenas quam.<br />
    </p>
    <a href="{% url 'create_cinema' %}" style="text-decoration: none">
        <i class="fa-solid fa-circle-arrow-right text-info"></i>
        <span class="text-info"> Créer cinema </span>
    </a>
    <br /><br />

    <div>
        <div class="card shadow-lg p-2 mb-5">
            <div class="card-body p-5">
                <table class="table">
                    <thead>
                        <tr class="text-center text-secondary">
                            <th scope="col">id</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Adresse</th>
                            <th scope="col">Telephone</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    {% for cinema in cinemas %}
                    <tbody>
                        <tr>
                            <td class="text-center">
                                <small>
                                    <p class="text-muted">{{cinema.id}}</p>
                                </small>
                            </td>
                            <td class="text-center">
                                <small>
                                    <p class="text-muted">{{cinema.nom}}</p>
                                </small>
                            </td>
                            <td class="text-center">
                                <small>
                                    <p class="text-muted">{{cinema.adresse}}</p>
                                </small>
                            </td>
                            <td class="text-center">
                                <small>
                                    <p class="text-muted">
                                        {{cinema.telephone}}
                                    </p>
                                </small>
                            </td>

                            <td class="text-center">
                                <a
                                    href="{% url 'update_cinema' cinema.id %}"
                                    style="text-decoration: none"
                                >
                                    <button
                                        type="button"
                                        class="btn btn-sm btn-outline-primary rounded-4 text-petit"
                                    >
                                        Modifier
                                    </button>
                                </a>
                                <a
                                    href="{% url 'delete_cinema' cinema.id %}"
                                    style="text-decoration: none"
                                >
                                    <button
                                        type="button"
                                        class="btn btn-sm btn-outline-danger rounded-4 text-petit"
                                    >
                                        Effacer
                                    </button>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {%endblock content%}
</div>
